src/main/java/com/kyle/microservices/service/axis2/workEfforts/getWorkEfforts.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ofbiz.apache.org/service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ofbiz.apache.org/service/">
    <wsdl:types>
        <xsd:schema targetNamespace="http://ofbiz.apache.org/service/">
            <xsd:element name="null" nillable="true">
                <xsd:complexType>
                    <xsd:attribute name="value" type="xsd:string" use="required"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="std-String">
                <xsd:complexType>
                    <xsd:attribute name="value" type="xsd:string" use="required"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="std-Integer">
                <xsd:complexType>
                    <xsd:attribute name="value" type="xsd:integer" use="required"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="std-Long">
                <xsd:complexType>
                    <xsd:attribute name="value" type="xsd:long" use="required"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="std-Float">
                <xsd:complexType>
                    <xsd:attribute name="value" type="xsd:float" use="required"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="std-Double">
                <xsd:complexType>
                    <xsd:attribute name="value" type="xsd:double" use="required"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="std-Boolean">
                <xsd:complexType>
                    <xsd:attribute name="value" type="xsd:boolean" use="required"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="std-Locale">
                <xsd:complexType>
                    <xsd:attribute name="value" type="xsd:string" use="required"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="std-BigDecimal">
                <xsd:complexType>
                    <xsd:attribute name="value" type="xsd:decimal" use="required"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="sql-Timestamp">
                <xsd:complexType>
                    <xsd:attribute name="value" type="xsd:dateTime" use="required"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="sql-Date">
                <xsd:complexType>
                    <xsd:attribute name="value" type="xsd:date" use="required"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="sql-Time">
                <xsd:complexType>
                    <xsd:attribute name="value" type="xsd:time" use="required"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="col-ArrayList" type="tns:col-Collection"/>
            <xsd:element name="col-LinkedList" type="tns:col-Collection"/>
            <xsd:element name="col-Stack" type="tns:col-Collection"/>
            <xsd:element name="col-Vector" type="tns:col-Collection"/>
            <xsd:element name="col-TreeSet" type="tns:col-Collection"/>
            <xsd:element name="col-HashSet" type="tns:col-Collection"/>
            <xsd:element name="col-Collection" type="tns:col-Collection"/>
            <xsd:element name="map-TreeMap" type="tns:map-Map"/>
            <xsd:element name="map-WeakHashMap" type="tns:map-Map"/>
            <xsd:element name="map-Hashtable" type="tns:map-Map"/>
            <xsd:element name="map-Properties" type="tns:map-Map"/>
            <xsd:element name="map-HashMap" type="tns:map-HashMap"/>
            <xsd:element name="map-Map" type="tns:map-Map"/>
            <xsd:element name="map-Entry" type="tns:map-Entry"/>
            <xsd:element name="map-Key" type="tns:map-Key"/>
            <xsd:element name="map-Value" type="tns:map-Value"/>
            <xsd:element name="eepk-" type="tns:map-Map">
                <xsd:annotation>
                    <xsd:documentation>The name of element need to be appended with name of entity such as eepk-Product for Product entity.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="eeval-WorkEffort">
                <xsd:annotation>
                    <xsd:documentation>The name of element need to be appended with name of entity such as eeval-WorkEffortProduct for Product entity.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:attribute name="workEffortId" type="xsd:string" use="optional"/>
                    <xsd:attribute name="workEffortTypeId" type="xsd:string" use="optional"/>
                    <xsd:attribute name="currentStatusId" type="xsd:string" use="optional"/>
                    <xsd:attribute name="lastStatusUpdate" type="xsd:string" use="optional"/>
                    <xsd:attribute name="workEffortPurposeTypeId" type="xsd:string" use="optional"/>
                    <xsd:attribute name="workEffortParentId" type="xsd:string" use="optional"/>
                    <xsd:attribute name="scopeEnumId" type="xsd:string" use="optional"/>
                    <xsd:attribute name="priority" type="xsd:long" use="optional"/>
                    <xsd:attribute name="percentComplete" type="xsd:long" use="optional"/>
                    <xsd:attribute name="workEffortName" type="xsd:string" use="optional"/>
                    <xsd:attribute name="showAsEnumId" type="xsd:string" use="optional"/>
                    <xsd:attribute name="sendNotificationEmail" type="xsd:string" use="optional"/>
                    <xsd:attribute name="description" type="xsd:string" use="optional"/>
                    <xsd:attribute name="locationDesc" type="xsd:string" use="optional"/>
                    <xsd:attribute name="estimatedStartDate" type="xsd:string" use="optional"/>
                    <xsd:attribute name="estimatedCompletionDate" type="xsd:string" use="optional"/>
                    <xsd:attribute name="actualStartDate" type="xsd:string" use="optional"/>
                    <xsd:attribute name="actualCompletionDate" type="xsd:string" use="optional"/>
                    <xsd:attribute name="estimatedMilliSeconds" type="xsd:double" use="optional"/>
                    <xsd:attribute name="estimatedSetupMillis" type="xsd:double" use="optional"/>
                    <xsd:attribute name="estimateCalcMethod" type="xsd:string" use="optional"/>
                    <xsd:attribute name="actualMilliSeconds" type="xsd:double" use="optional"/>
                    <xsd:attribute name="actualSetupMillis" type="xsd:double" use="optional"/>
                    <xsd:attribute name="totalMilliSecondsAllowed" type="xsd:double" use="optional"/>
                    <xsd:attribute name="totalMoneyAllowed" type="xsd:decimal" use="optional"/>
                    <xsd:attribute name="moneyUomId" type="xsd:string" use="optional"/>
                    <xsd:attribute name="specialTerms" type="xsd:string" use="optional"/>
                    <xsd:attribute name="timeTransparency" type="xsd:long" use="optional"/>
                    <xsd:attribute name="universalId" type="xsd:string" use="optional"/>
                    <xsd:attribute name="sourceReferenceId" type="xsd:string" use="optional"/>
                    <xsd:attribute name="fixedAssetId" type="xsd:string" use="optional"/>
                    <xsd:attribute name="facilityId" type="xsd:string" use="optional"/>
                    <xsd:attribute name="infoUrl" type="xsd:string" use="optional"/>
                    <xsd:attribute name="recurrenceInfoId" type="xsd:string" use="optional"/>
                    <xsd:attribute name="tempExprId" type="xsd:string" use="optional"/>
                    <xsd:attribute name="runtimeDataId" type="xsd:string" use="optional"/>
                    <xsd:attribute name="noteId" type="xsd:string" use="optional"/>
                    <xsd:attribute name="serviceLoaderName" type="xsd:string" use="optional"/>
                    <xsd:attribute name="quantityToProduce" type="xsd:decimal" use="optional"/>
                    <xsd:attribute name="quantityProduced" type="xsd:decimal" use="optional"/>
                    <xsd:attribute name="quantityRejected" type="xsd:decimal" use="optional"/>
                    <xsd:attribute name="reservPersons" type="xsd:decimal" use="optional"/>
                    <xsd:attribute name="reserv2ndPPPerc" type="xsd:decimal" use="optional"/>
                    <xsd:attribute name="reservNthPPPerc" type="xsd:decimal" use="optional"/>
                    <xsd:attribute name="accommodationMapId" type="xsd:string" use="optional"/>
                    <xsd:attribute name="accommodationSpotId" type="xsd:string" use="optional"/>
                    <xsd:attribute name="revisionNumber" type="xsd:long" use="optional"/>
                    <xsd:attribute name="createdDate" type="xsd:string" use="optional"/>
                    <xsd:attribute name="createdByUserLogin" type="xsd:string" use="optional"/>
                    <xsd:attribute name="lastModifiedDate" type="xsd:string" use="optional"/>
                    <xsd:attribute name="lastModifiedByUserLogin" type="xsd:string" use="optional"/>
                    <xsd:attribute name="lastUpdatedStamp" type="xsd:string" use="optional"/>
                    <xsd:attribute name="lastUpdatedTxStamp" type="xsd:string" use="optional"/>
                    <xsd:attribute name="createdStamp" type="xsd:string" use="optional"/>
                    <xsd:attribute name="createdTxStamp" type="xsd:string" use="optional"/>
                    <xsd:attribute name="sequenceNum" type="xsd:long" use="optional"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="cus-obj">
                <xsd:annotation>
                    <xsd:documentation>Object content is hex encoded so does not need to be in a CDATA block.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:complexType name="map-Map">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" ref="tns:map-Entry"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="map-HashMap">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" ref="tns:map-Entry"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="map-Entry">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" ref="tns:map-Key"/>
                    <xsd:element maxOccurs="1" minOccurs="1" ref="tns:map-Value"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="map-Key">
                <xsd:all>
                    <xsd:element maxOccurs="1" minOccurs="1" ref="tns:std-String"/>
                </xsd:all>
            </xsd:complexType>
            <xsd:complexType name="map-Value">
                <xsd:choice>
                    <xsd:element maxOccurs="1" minOccurs="1" ref="tns:null"/>
                    <xsd:element maxOccurs="1" minOccurs="1" ref="tns:std-String"/>
                    <xsd:element maxOccurs="1" minOccurs="1" ref="tns:std-Integer"/>
                    <xsd:element maxOccurs="1" minOccurs="1" ref="tns:std-Long"/>
                    <xsd:element maxOccurs="1" minOccurs="1" ref="tns:std-Float"/>
                    <xsd:element maxOccurs="1" minOccurs="1" ref="tns:std-Double"/>
                    <xsd:element maxOccurs="1" minOccurs="1" ref="tns:std-Boolean"/>
                    <xsd:element maxOccurs="1" minOccurs="1" ref="tns:std-Locale"/>
                    <xsd:element maxOccurs="1" minOccurs="1" ref="tns:sql-Timestamp"/>
                    <xsd:element maxOccurs="1" minOccurs="1" ref="tns:sql-Date"/>
                    <xsd:element maxOccurs="1" minOccurs="1" ref="tns:sql-Time"/>
                    <xsd:element maxOccurs="1" minOccurs="1" ref="tns:col-ArrayList"/>
                    <xsd:element maxOccurs="1" minOccurs="1" ref="tns:col-LinkedList"/>
                    <xsd:element maxOccurs="1" minOccurs="1" ref="tns:col-Stack"/>
                    <xsd:element maxOccurs="1" minOccurs="1" ref="tns:col-Vector"/>
                    <xsd:element maxOccurs="1" minOccurs="1" ref="tns:col-TreeSet"/>
                    <xsd:element maxOccurs="1" minOccurs="1" ref="tns:col-HashSet"/>
                    <xsd:element maxOccurs="1" minOccurs="1" ref="tns:col-Collection"/>
                    <xsd:element maxOccurs="1" minOccurs="1" ref="tns:map-HashMap"/>
                    <xsd:element maxOccurs="1" minOccurs="1" ref="tns:map-Properties"/>
                    <xsd:element maxOccurs="1" minOccurs="1" ref="tns:map-Hashtable"/>
                    <xsd:element maxOccurs="1" minOccurs="1" ref="tns:map-WeakHashMap"/>
                    <xsd:element maxOccurs="1" minOccurs="1" ref="tns:map-TreeMap"/>
                    <xsd:element maxOccurs="1" minOccurs="1" ref="tns:map-Map"/>
                    <xsd:element maxOccurs="1" minOccurs="1" ref="tns:eepk-"/>
                    <xsd:element maxOccurs="1" minOccurs="1" ref="tns:eeval-WorkEffort"/>
                    <xsd:element maxOccurs="1" minOccurs="1" ref="tns:std-BigDecimal"/>
                </xsd:choice>
            </xsd:complexType>
            <xsd:complexType name="col-Collection">
                <xsd:choice>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" ref="tns:null"/>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" ref="tns:std-String"/>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" ref="tns:std-Integer"/>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" ref="tns:std-Long"/>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" ref="tns:std-Float"/>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" ref="tns:std-Double"/>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" ref="tns:std-Boolean"/>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" ref="tns:std-Locale"/>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" ref="tns:sql-Timestamp"/>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" ref="tns:sql-Date"/>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" ref="tns:sql-Time"/>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" ref="tns:col-ArrayList"/>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" ref="tns:col-LinkedList"/>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" ref="tns:col-Stack"/>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" ref="tns:col-Vector"/>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" ref="tns:col-TreeSet"/>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" ref="tns:col-HashSet"/>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" ref="tns:col-Collection"/>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" ref="tns:map-HashMap"/>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" ref="tns:map-Properties"/>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" ref="tns:map-Hashtable"/>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" ref="tns:map-WeakHashMap"/>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" ref="tns:map-TreeMap"/>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" ref="tns:map-Map"/>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" ref="tns:eepk-"/>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" ref="tns:eeval-WorkEffort"/>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" ref="tns:std-BigDecimal"/>
                </xsd:choice>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="getWorkEffortsResponse">
        <wsdl:part name="map-HashMap" type="tns:map-HashMap">
            <wsdl:documentation>
                <attribute java-class="java.util.List" name="workEfforts" namespace="http://ofbiz.apache.org/service/" optional="false" type="col-LinkedList"/>
            </wsdl:documentation>
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getWorkEffortsRequest">
        <wsdl:part name="map-Map" type="tns:map-Map">
            <wsdl:documentation>
                <attribute java-class="java.lang.String" name="currentStatusId" namespace="http://ofbiz.apache.org/service/" optional="true" type="std-String"/>
                <attribute java-class="java.lang.String" name="workEffortId" namespace="http://ofbiz.apache.org/service/" optional="true" type="std-String"/>
                <attribute java-class="java.lang.String" name="workEffortParentId" namespace="http://ofbiz.apache.org/service/" optional="true" type="std-String"/>
                <attribute java-class="java.lang.String" name="workEffortPurposeTypeId" namespace="http://ofbiz.apache.org/service/" optional="true" type="std-String"/>
                <attribute java-class="java.lang.String" name="workEffortTypeId" namespace="http://ofbiz.apache.org/service/" optional="true" type="std-String"/>
                <attribute java-class="java.lang.String" name="login.username" namespace="http://ofbiz.apache.org/service/" optional="true" type="std-String"/>
                <attribute java-class="java.lang.String" name="login.password" namespace="http://ofbiz.apache.org/service/" optional="true" type="std-String"/>
            </wsdl:documentation>
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="getWorkEffortsPortType">
        <wsdl:operation name="getWorkEfforts">
            <wsdl:input message="tns:getWorkEffortsRequest"/>
            <wsdl:output message="tns:getWorkEffortsResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="getWorkEffortsSoapBinding" type="tns:getWorkEffortsPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getWorkEfforts">
            <soap:operation soapAction="http://localhost:8080/webtools/control/SOAPService" style="rpc"/>
            <wsdl:input>
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ofbiz.apache.org/service/" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ofbiz.apache.org/service/" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="getWorkEfforts">
        <wsdl:port binding="tns:getWorkEffortsSoapBinding" name="getWorkEffortsPort">
            <soap:address location="http://localhost:8080/webtools/control/SOAPService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
